/* ============================================
   CHESS PAGE - MINIAPP CSS
   Clean, direct CSS for /chess route
   ============================================ */

.chess-page {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}

.chess-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
}

.lawb-app-light-mode .chess-page,
.lawb-app-light-mode .chess-content {
  background: transparent;
  background-image: url('/assets/background.gif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
